html 
    head 
        title #{title}
        block css
            link(rel="stylesheet", href="/resource/style.css")
        block script
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js") 
    body
        img#logo.top(src="/resource/images/logo.jpg", alt="logo")
        .menu 
            a(href="/auth/login") LogIn
            a(href="/video/dashboard") Dashboard
            a(href="/video/new_video") Upload
        .border-line 
        .container
            .middle 
                .panel.signup
                    form(action="/auth/add" id='registrationForm' method='POST') 
                        img#logo(src="/resource/images/logo.jpg", alt="logo")
                        input.input-box(type="text" 
                        name = 'email'
                        required
                        placeholder="Email") 
                        input.input-box(type="text"
                        name= 'name'
                        required
                        placeholder="Full Name")
                        input.input-box(type="text"
                        name= 'username'
                        required
                        placeholder="Username")
                        input.input-box(type="password"
                        name= 'password'
                        required
                        placeholder="Password")
                        input.button(type ="submit"
                        name='signup'
                        value="Sign Up")
                .panel.logIn
                    p Have an account?
                    a(href="/auth/login") Log in 
